//- header.jade
head
	title= title
	link(rel='stylesheet', gulpsrc='/node_modules/bootstrap/dist/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/css/styles.css')
body
	include navbar.jade
	header
		.headerBackground
		.headerContent
			h1= title
