//- header.jade
head
	title= title
	link(rel='stylesheet', gulpsrc='/node_modules/bootstrap/dist/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/css/styles.css')
body
	header
		p Haus
		h1= title
		p Welcome to #{title}
		a Er þetta drasl tilbúið
