//- navbar-xs.jade
div(class="navbar-xs")
	div(class="navbar-primary")
		nav(class="navbar navbar-static-top" role="navigation")
			div(class="navContent")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
				div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-8")
					ul(class="nav navbar-nav")
						li
							a(href="#") Home
						li 
							a(href="#") Link
						li 
							a(href="#") Link