//- navbar.jade
nav
	.navContent
		button(type="button" class="btn btn-primary btn-md") 
			span(class="glyphicon glyphicon-user")
		button(type="button" class="btn btn-primary btn-md flagbutton") 
			if(locale)
			div(src="" class="flag flag-is" alt="Iceland")
