doctype html
html(lang=locale)
	include ./includes/header.jade
	body
		.contentWrapper
			include ./includes/navbar-xs.jade
			.container
				div(class="pageContent row")
					block content
		include ./includes/footer.jade
