/*
 * styles.scss
 */
/*
 * IMPORTS
 */
@import url(/node_modules/font-awesome/css/font-awesome.min.css);
@import url(/node_modules/bootstrap/dist/css/bootstrap.min.css);
/*
 * MAIN SETTINGS
 */
* {
  margin: 0; }

html {
  margin: 0;
  height: 100%; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
  height: 100%;
  min-height: 100%; }

/*
 * VARIABLES FOR THE SITE
 */
/*
 * VARIABLES FOR THE SITE
 */
/*
 * MULTIPLE USED SCSS CLASSES AND ID'S
 */
.fixedSizeWrapper, header .headerContent, nav .navContent {
  margin: 0;
  position: absolute;
  display: block;
  max-width: 80%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

.wrapper {
  margin: 0;
  position: relative;
  display: block;
  max-width: 80%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

#inlineGlyph {
  display: inline; }

span.glyphicon, span.fa {
  width: 14px;
  height: 14px;
  text-align: center;
  margin-right: 4px; }

/*
 * HEADER STYLES
 */
/*
 * HEADER STYLES
 */
/*
 * VARIABLES FOR THE SITE
 */
header {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  height: 252px;
  display: block; }
  header .headerBackground {
    background: #ffffff url("/images/header.jpg");
    background-position: center -380px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -10; }
  header .headerContent {
    top: 60%;
    left: 0; }
    header .headerContent h1 {
      float: right;
      font-size: 300%;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 3px; }

/*
 * NAVIGATION BARS STYLES
 */
/*
 * NAVIGATION BAR STYLES
 */
nav {
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  margin-bottom: 0;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  z-index: 100; }

.flag-icon-is {
  background-image: url(/images/is.svg); }

.flag-icon-us {
  background-image: url(/images/us.svg); }

.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat; }

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.6em;
  line-height: 1.3em; }

.flag-icon:before {
  content: "\00a0"; }

#flag-dropdown-menu {
  min-width: 100px; }

#auctionGlyph {
  display: inline; }

#navbar-not-collapse {
  float: right !important;
  margin: 0px;
  padding: 0px; }
  #navbar-not-collapse ul {
    margin: 0px;
    padding: 0px; }
  #navbar-not-collapse .nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px; }

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: 0px; } }

/*
 *  Main Navbar collapse customization
 */
@media (max-width: 992px) {
  .dropdown-toggle #inlineGlyph {
    display: none; }
  #nav-lg-left .nav > li > a {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 13px; } }

@media (min-width: 460px) {
  #not-collapse > a > span {
    display: none; } }

.login-button {
  padding: 3px 0px !important; }

/*@media (max-width: 768px){
    li[class*="collapse"]>a, #not-collapse>a{
        padding-top: 15px; padding-bottom:15px;
    }    
}*/
/*
 * PAGE CONTENT STYLES
 */
/*
 * PAGE CONTENT STYLES
 */
/*
 * VARIABLES FOR THE SITE
 */
div.contentWrapper {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  min-height: calc(100% - 252px);
  height: auto !important;
  height: calc(100% - 252px);
  margin-bottom: -210px; }
  div.contentWrapper .pageContent {
    padding-bottom: 40px; }

/*
 *  XS NAVIGATION BARS STYLES
 */
/*
 *  XS NAVIGATION BAR STYLES
 */
.navbar-primary .navbar {
  background: #333333;
  border-bottom: none; }
  .navbar-primary .navbar .navbar-brand {
    color: #fff; }
  .navbar-primary .navbar .nav li a {
    color: #C8C8C8; }
  .navbar-primary .navbar .nav li a:hover {
    color: #fff;
    background-color: #909090; }
  .navbar-primary .navbar .nav .open > a, .navbar-primary .navbar .nav .open > a:focus, .navbar-primary .navbar .nav .open > a:hover {
    color: #333333;
    background-color: #fff; }
  .navbar-primary .navbar .nav .active a {
    color: #fff;
    background-color: #585858; }
  .navbar-primary .navbar .nav .pull-right {
    margin-left: 10px;
    margin-right: 0; }

.navbar-primary .navbar .nav .dropdown-menu li a {
  color: #333; }

.navbar-primary .navbar .nav .dropdown-menu li a:hover, .navbar-primary .navbar .nav .dropdown-menu li a:focus {
  background-color: #f5f5f5; }

.navbar-xs .navbar-primary .navbar {
  min-height: 28px;
  height: 28px; }
  .navbar-xs .navbar-primary .navbar .navbar-brand {
    padding: 0px 12px 0px 0px;
    font-size: 15px;
    line-height: 28px;
    max-width: 150px !important; }
  .navbar-xs .navbar-primary .navbar .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 28px; }
  .navbar-xs .navbar-primary .navbar .navbar-toggle {
    position: relative;
    float: right;
    padding: 3px 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid transparent;
    border-radius: 3px;
    border-color: #909090; }
    .navbar-xs .navbar-primary .navbar .navbar-toggle .icon-bar {
      display: block;
      width: 15px;
      height: 1.5px;
      background-color: #C8C8C8;
      border-radius: 1px; }
    .navbar-xs .navbar-primary .navbar .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 3.5px; }
  .navbar-xs .navbar-primary .navbar .navbar-toggle:hover, .navbar-xs .navbar-primary .navbar .navbar-toggle:focus {
    background-color: #909090; }
    .navbar-xs .navbar-primary .navbar .navbar-toggle:hover .icon-bar, .navbar-xs .navbar-primary .navbar .navbar-toggle:focus .icon-bar {
      background-color: #fff; }

/*
 *  XS Navbar collapse customization
 *  Small navigation bara collapses at 768px width
 */
#navbarxs-not-collapse {
  float: right !important;
  margin: 0px;
  padding: 0px; }
  #navbarxs-not-collapse div.navbar-nav {
    margin: 0; }
  #navbarxs-not-collapse ul {
    margin: 0px;
    padding: 0px; }
    #navbarxs-not-collapse ul li {
      float: left; }

@media (max-width: 992px) {
  nav li a #inlineGlyph {
    display: none; } }

/*
 * FOOTER STYLES
 */
/*
 * FOOTER STYLES
 */
/*
 * VARIABLES FOR THE SITE
 */
div.contentWrapper:after {
  content: "";
  display: block; }

footer, div.contentWrapper:after {
  height: 210px; }

footer {
  background-color: #E8E8E8;
  height: 210px; }
  footer .footerContent {
    padding-top: 20px; }
    footer .footerContent h3 {
      font-size: 16px;
      font-weight: normal;
      padding-bottom: 4px;
      border-bottom: 2px solid #999;
      color: #666; }
    footer .footerContent .footer-lists li {
      padding: 2px; }
      footer .footerContent .footer-lists li a {
        color: #666;
        text-decoration: none;
        cursor: pointer; }
        footer .footerContent .footer-lists li a span {
          position: absolute;
          top: inherit; }
        footer .footerContent .footer-lists li a p {
          padding-left: 20px; }
      footer .footerContent .footer-lists li a:hover {
        color: #C8C8C8; }

@media only screen and (max-width: 970px) and (min-width: 750px) {
  footer {
    height: 360px; } }

@media only screen and (max-width: 750px) {
  footer {
    height: 680px; } }
