/*
 * styles.scss
 */

 /*
 * IMPORTS
 */
@import "/node_modules/font-awesome/css/font-awesome.min.css";
@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

/*
 * MAIN SETTINGS
 */

* { margin: 0; }
html { margin: 0; height: 100%;}
body { font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; background-color: #fff; height: 100%; min-height: 100%;}

/*
 * VARIABLES FOR THE SITE
 */
@import "variables.scss";

/*
 * MULTIPLE USED SCSS CLASSES AND ID'S
 */

 // Wrapper when element size is fixed
.fixedSizeWrapper{
    margin: 0; position: absolute; display: block;
    max-width:80%; width:80%; margin-left: 10%; margin-right: 10%;
}

// Wrapper when element size is not fixed
.wrapper{
    margin: 0; position: relative; display: block;
    max-width:80%; width:80%; margin-left: 10%; margin-right: 10%;
}

// Make glypicons and p elements inline
#inlineGlyph{ display: inline; }
span.glyphicon, span.fa{width:14px; height:14px; text-align: center; margin-right:4px;}

 /*
 * HEADER STYLES
 */
@import "header.scss";

/*
 * NAVIGATION BARS STYLES
 */
@import "navbar.scss";


/*
 * PAGE CONTENT STYLES
 */
@import "content-wrapper.scss";

/*
 *  XS NAVIGATION BARS STYLES
 */
@import "navbar-xs.scss";

/*
 * FOOTER STYLES
 */ 
@import "footer.scss";



// Some Media Queries
@media (max-width: 450px){
	// Wrapper when element size is fixed
	.fixedSizeWrapper{
	    //max-width:90%; width:90%; margin-left: 5%; margin-right: 5%;
	}

	// Wrapper when element size is not fixed
	.wrapper{
	    //max-width:90%; width:90%; margin-left: 5%; margin-right: 5%;
	} 
}

@media only screen and (max-width: 320px) {
  
}

@media (min-width: 768px){

}

@media only screen and (min-width: 1200px) {
  
}